<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LRAPConfigurationSection" type="LogRecorderAndPlayer.LRAPConfigurationSection, LogRecorderAndPlayer"/>
  </configSections>
  <LRAPConfigurationSection enabled="true" logType="JSON" filePath="c:\WebApplicationJSON" solutionAssembly="SolutionSpecificAssembly.dll" sessionApp="c:\LogRecorderAndPlayer\LogSession\bin\Debug\LogSession.exe" ></LRAPConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DefaultBaseUrl" value="http://pensionsplan"/>
    <add key="DefaultBaseUrlBak" value="http://localhost:8073"/>
  </appSettings>
</configuration>